{% extends 'base.html'%}
{% load static %}
{% block title %}appointment management system - about{% endblock %}
{% block content %}
<div class="containers mt-5">
    <div class="container text-center">

        <h1 class="text-success fw-bold mb-3 display-5">About Us</h1>

        <div class="d-flex justify-content-center align-items-center gap-2" style="font-size:1.2rem;">

            <a href="{% url 'index'%}" class="text-danger text-decoration-none fw-semibold">
                Home
            </a>

            <i class="fa-solid fa-circle fa-2xs" style="color: #f72c08;"></i>

            <a href="{% url 'about'%}" class="text-dark text-decoration-none fw-semibold">
                About
            </a>

        </div>

    </div>
</div>

<div class="container text-center my-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">

                <h2 class="fw-bold mb-4">
                    About Appointment Management System
                </h2>

                <p class="fw-semibold text-muted mb-3">
                    The Appointment Management System is a web-based
                    application developed using the Python Django framework.
                </p>

                <p class="fw-semibold text-muted mb-3">
                    It helps users schedule, manage, and track appointments efficiently.
                </p>

                <p class="fw-semibold text-muted">
                    Admin users can monitor appointments and
                    update their status easily.
                </p>

            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5 g-4">
        <div class="col-md-4">
            <div class="card h-100 shadow-sm p-3">
                <h5 class="fw-bold text-primary-emphasis text-center mb-3">
                    Technologies Used
                </h5>

                <ul class="list-group list-group-flush feature-list">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Python – Backend Logic</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Django – Framework</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>HTML – Structure</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>CSS & Bootstrap – Styling</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 shadow-sm p-3">
                <h5 class="fw-bold text-primary-emphasis text-center mb-3">
                    Why Choose Us?
                </h5>

                <ul class="list-group list-group-flush feature-list">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Simple & User-Friendly Interface</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Quick Appointment Booking</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Secure Data Handling</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Time-Saving Automation</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 shadow-sm p-3">
                <h5 class="fw-bold text-primary-emphasis text-center mb-3">
                    Key Features
                </h5>

                <ul class="list-group list-group-flush feature-list">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Online Appointment Booking</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Appointment Status Tracking</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Admin Management Panel</span>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <i class="fa-solid fa-star me-2"></i>
                        <span>Responsive Design</span>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}