{% extends 'base.html'%}
{% load static %}
{% block title %}appointment management system - about{% endblock %}
{% block content %}
<div class="containee mt-5">
    <div class="container text-center">

        <h1 class="fw-bold display-5 text-success mb-3">
            View Appointments
        </h1>

        <div class="d-flex justify-content-center align-items-center gap-2"
             style="font-size:1.2rem;">

            <a href="{% url 'index'%}"
               class="text-danger text-decoration-none fw-semibold">
                Home
            </a>

            <i class="fa-solid fa-circle fa-2xs"
               style="color: #f72c08;"></i>

            <a href="{% url 'viewappointment'%}"
               class="text-dark text-decoration-none fw-semibold">
                View
            </a>

        </div>

    </div>
</div><br><br><br>

<div class="container my-5">
    <div class="table-responsive">

        <table class="table table-bordered table-hover align-middle text-center shadow-sm">

            <thead class="table-success">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td class="fw-semibold">{{ appointment.name }}</td>
                    <td>{{ appointment.email }}</td>
                    <td>{{ appointment.phone }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{appointment.status}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center fw-semibold text-muted py-4">
                        No Appointments Found
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

{% endblock %}