body {
  font-family: georgia;
  background-color: #f8f9fa;
}
.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-family:georgia;
}
.nav-link {
  font-weight: 500;
  color:white;
}
.nav-link:hover {
  color:black !important;
}
.nav-link:active{
  color:black !important;
}
h1, h2 {
  letter-spacing: 1px;
  color:black;
}
.card {
  border: none;
  border-radius: 10px;
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  transition: all 0.3sw ease;
  opacity:1;
}
.card-container{
  grid-template-columns:repeat(2,1fr);
}
.card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 20px rgba(0,0,0.2);
}
.card h5 {
  font-weight: 600;
  color: #0d6efd;
}
form {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-label {
  font-weight: 500;
}
button {
  font-weight: 600;
}
.table {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.table th {
  text-align: center;
}
.table td {
  text-align: center;
  vertical-align: middle;
}
.status-confirmed {
  color: green;
  font-weight: bold;
}
.status-pending {
  color: orange;
  font-weight: bold;
}
.status-completed {
  color: blue;
  font-weight: bold;
}
footer {
  font-size: 14px;
}
.hero-section {
  height: 90vh;
  background-image: url("bg.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 100px; 
  border-radius: 10px;
  margin-top:70px;
  justify-content: center;
  filter:brightness(1.4);
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
}
.hero-content {
  position: relative;
  color: #fff;
  z-index: 2;
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: georgia;
}
.hero-content p {
  font-size: 1.8rem;
  font-family:gill sans;
  font-weight: bold;
}
.containers{
  background-image: url("laptops.jpg");
  height:500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  padding: 100px; 
  border-radius: 10px;
  margin-top:70px;
  filter:brightness(1.1);
  display:flex;
  overflow:auto;
}
.containerr{
  background-image: url("appointment.avif");
  height:500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  padding: 100px; 
  border-radius: 10px;
  margin-top:70px;
  filter:brightness(1.1);
  display:flex;
  overflow:auto;
  color:red;
}
.containee{
  background-image: url("viewapp.webp");
  height:500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  padding: 100px; 
  border-radius: 10px;
  margin-top:70px;
  filter:brightness(1.1);
  display:flex;
  overflow:auto;
  color:red;
}
.containn{
  background-image: url("contactt.jpg");
  height:500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  filter:brightness(1.1);
  padding: 100px; 
  border-radius: 10px;
  margin-top:70px;
  display:flex;
  overflow:auto;
  color:red;
}
.contain{
  background-image: url("contacts.webp");
  height:500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px; 
  border-radius: 10px;
  margin-top:70px;
  align-items: center;
  filter:brightness(1.1);
  display:flex;
  overflow:auto;
  color:red;
}

