{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="col-md-5 mx-auto shadow p-4 rounded bg-light">

        <h2 class="text-center text-primary fw-bold mb-4">
            Login
        </h2>

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label fw-semibold">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-4">
                <label class="form-label fw-semibold">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 fw-semibold">
                Login
            </button>

        </form>

{% endblock %}